body {
    height: 800px;
    padding: 0;
    margin: 0;
}

aside {
    background-color: #a0a0a0 ;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}

 aside > .logo {
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 32 px;
    background-color: #666666;
    align-items: center;

}
aside > ul {
    flex: 1;
    list-style: none;
}

aside > ul > li {
    padding: 15px ;
}

aside > ul > li > a {
    color: #2b2b2b;
    text-decoration: none;
    transition: 0.3s;
}

aside > ul > li > a:hover {
    color: #2b2bb2;
}


.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile > img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}
